<div class="navbar navbar-light">
    <h1>My Test Task</h1>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/mainpage">Main</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink= "/taskone">Task One</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink= "/tasktwo">Task Two</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink= "/taskthree">Task Three</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink= "/taskfour">Task Four</a>
        </li>
    </ul>
</div>
<div>
    <router-outlet></router-outlet>
</div>
