<div>
    <h2>Wellcome!</h2>
    <h2>Choose a task:</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <a class="nav-link active" routerLink= "/taskone">Task One</a>
            </div>
            <div class="col-sm-3">
                <a class="nav-link active" routerLink= "/tasktwo">Task Two</a>
            </div>
            <div class="col-sm-3">
                <a class="nav-link active" routerLink= "/taskthree">Task Three</a>
            </div>
            <div class="col-sm-3">
                <a class="nav-link active" routerLink= "/taskfour">Task Four</a>
            </div>
        </div>
    </div>
</div>
